<h1>Welcome to {{title}}</h1>
<h2>I hope you enjoy learning Angular {{name}}!</h2>
<!--app-address></app-address-->
<!--app-customer></app-customer-->
<div style="text-align: center;">
  <nav>
    <a routerLink="home">Home</a><br>
    <a routerLink="about">About</a><br>
    <a routerLink="dashboard">Dashboard</a><br>
    <a routerLink="employee">Employee Details</a><br>
    <a routerLink="customer">Customer Form & Details</a><br>
    <a routerLink="address">Address</a>
  </nav>
  <router-outlet></router-outlet>
</div>
